node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma


# Ignore PostgreSQL data
backend/pgdata/
backend/pgdata/*

# Ignore MinIO internal files
backend/minio-data/
backend/minio-data/*

# Optional: ignore hidden system folders
**/.minio.sys/
**/.minio.sys/*

# Jangan track file *.pid
*.pid
